# dev
.DS_Store
.venv

# python cache
*.pyc
__pycache__/

# static code analysis
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# poetry build
dist/

# python -m build
build/

# setuptools
*.egg-info/

# mkdocs
site/

# node
.yarn
node_modules/
coverage/

# act
.secrets
