babel==2.17.0 ; python_version >= "3.10"
certifi==2025.1.31 ; python_version >= "3.10"
cfgv==3.4.0 ; python_version >= "3.10"
charset-normalizer==3.4.1 ; python_version >= "3.10"
click==8.1.8 ; python_version >= "3.10"
colorama==0.4.6 ; python_version >= "3.10"
coverage==7.6.11 ; python_version >= "3.10"
distlib==0.3.9 ; python_version >= "3.10"
exceptiongroup==1.2.2 ; python_version >= "3.10" and python_version < "3.11"
execnet==2.1.1 ; python_version >= "3.10"
filelock==3.17.0 ; python_version >= "3.10"
ghp-import==2.1.0 ; python_version >= "3.10"
hjson==3.1.0 ; python_version >= "3.10"
identify==2.6.7 ; python_version >= "3.10"
idna==3.10 ; python_version >= "3.10"
iniconfig==2.0.0 ; python_version >= "3.10"
jinja2==3.1.5 ; python_version >= "3.10"
markdown==3.7 ; python_version >= "3.10"
markupsafe==3.0.2 ; python_version >= "3.10"
mergedeep==1.3.4 ; python_version >= "3.10"
mkdocs-get-deps==0.2.0 ; python_version >= "3.10"
mkdocs-macros-plugin==1.3.7 ; python_version >= "3.10"
mkdocs-material-extensions==1.3.1 ; python_version >= "3.10"
mkdocs-material==9.6.3 ; python_version >= "3.10"
mkdocs==1.6.1 ; python_version >= "3.10"
mslex==1.3.0 ; python_version < "4.0" and sys_platform == "win32" and python_version >= "3.10"
mypy-extensions==1.0.0 ; python_version >= "3.10"
mypy==1.15.0 ; python_version >= "3.10"
nodeenv==1.9.1 ; python_version >= "3.10"
packaging==24.2 ; python_version >= "3.10"
paginate==0.5.7 ; python_version >= "3.10"
pathspec==0.12.1 ; python_version >= "3.10"
platformdirs==4.3.6 ; python_version >= "3.10"
pluggy==1.5.0 ; python_version >= "3.10"
pre-commit==4.1.0 ; python_version >= "3.10"
psutil==6.1.1 ; python_version >= "3.10" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.10"
pymdown-extensions==10.14.3 ; python_version >= "3.10"
pytest-cov==6.0.0 ; python_version >= "3.10"
pytest-mock==3.14.0 ; python_version >= "3.10"
pytest-xdist==3.6.1 ; python_version >= "3.10"
pytest==8.3.4 ; python_version >= "3.10"
python-dateutil==2.9.0.post0 ; python_version >= "3.10"
pyyaml-env-tag==0.1 ; python_version >= "3.10"
pyyaml==6.0.2 ; python_version >= "3.10"
regex==2024.11.6 ; python_version >= "3.10"
requests==2.32.3 ; python_version >= "3.10"
ruff==0.9.5 ; python_version >= "3.10"
six==1.17.0 ; python_version >= "3.10"
super-collections==0.5.3 ; python_version >= "3.10"
taskipy==1.14.1 ; python_version >= "3.10" and python_version < "4.0"
termcolor==2.5.0 ; python_version >= "3.10"
tomli==2.2.1 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.12.2 ; python_version >= "3.10"
urllib3==2.3.0 ; python_version >= "3.10"
virtualenv==20.29.1 ; python_version >= "3.10"
watchdog==6.0.0 ; python_version >= "3.10"
